
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h2 style="border-radius:10px; background-color: #7f8c8d; padding: 15px; color: white; " class="text-center"> <i>SFA</i> </h2>
        <hr />
        <div class="well" style="padding:50px;">
            <div class="row">
                <div class="col-md-9">
                    <h3>
                        <b>
                            Login to our site
                        </b>
                    </h3>
                    @*<img src="http://10.131.69.100:88/Images/Customer/doctor.jpg" alt="Alternate Text" />*@
                    <p>
                        <i>
                            If you have problem to logging, please contact the admin
                        </i>
                    </p>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-lock" aria-hidden="true" style="font-size:80px;text-align:center;"></i>

                </div>


            </div>
            <form action="/" method="post" id="loginform">
                <br />
                <input type="text" class="form-control" id="Nik" placeholder="Insert Code" required />
                <br />
                <input type="password" class="form-control" id="Password" placeholder="Insert Password" required />
                <br />

                <button class="btn btn-danger form-control Login" type="submit"> <b>LOGIN</b> </button>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

