
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="~/calendarjquery/dist/simple-calendar.css">
<link rel="stylesheet" href="~/calendarjquery/assets/demo.css">

<style>
    .has-event{
        background-color:red;
        color:white;
    }
</style>


<h1 class="title">Customer Birthday</h1>
<div id="container" class="calendar-container" style="max-width:100%!important;"></div>


<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="~/calendarjquery/dist/jquery.simple-calendar.js"></script>
@*<script src="~/Scripts/CustomerApps/BirthdayCustomer.js">
 
</script>*@

