
@{
    //ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form action="/" method="post" id="DoUpdatePassword">
    <div class="row">
        <div class="col-md-4">
            <label>New Password</label>
            <input type="password" id="NewPassword" class="form-control" value="" required/>
        </div>
        <div class="col-md-4">
            <label>Repeat New Password</label>
            <input type="password" id="NewPassword2" class="form-control" value="" required/>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" type="submit" style="margin-top:20px;">UPDATE</button>
        </div>
    </div>
</form>

